WG_EASY_IMAGE_TAG={{ wg_easy_image_tag | default('14') }}
WG_HOST={{ wg_host }}
PASSWORD_HASH={{ wg_password_hash }}
WG_PORT={{ wg_port }}
WG_UI_PORT={{ wg_ui_port }}
WG_ALLOWED_IPS={{ wg_allowed_ips }}
WG_DEFAULT_DNS={{ pihole_ip_primary }}
